* text=auto
 
*.cs           text diff=csharp
*.fs           text
*.sln          text eol=crlf merge=union
*.csproj       text eol=crlf merge=union
*.vbproj       text eol=crlf merge=union
*.vcxproj      text eol=crlf merge=union
*.vcproj       text eol=crlf merge=union
*.dbproj       text eol=crlf merge=union
*.fsproj       text eol=crlf merge=union
*.lsproj       text eol=crlf merge=union
*.wixproj      text eol=crlf merge=union
*.modelproj    text eol=crlf merge=union
*.sqlproj      text eol=crlf merge=union
*.wmaproj      text eol=crlf merge=union
*.xproj        text eol=crlf merge=union
*.vcxitems     text eol=crlf merge=union
 
*.msbuild      text
*.build        text
*.targets      text
*.props        text
*.config       text
*.conf         text
*.cscfg        text
*.csdef        text
*.xml          text
*.js           text
*.ps1          text
 
*.DotSettings  text eol=lf
*.sh           text eol=lf
 
# Documents
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
*.md    text
*.adoc  text
*.csv   text
*.tab   text
*.tsv   text
*.sql   text

 
# Graphics
*.png  binary -delta
*.jpg  binary -delta
*.jpeg binary -delta
*.gif  binary -delta
*.tif  binary -delta
*.tiff binary -delta
*.ico  binary -delta
*.svg  binary -delta
*.eps  binary -delta
 
# Databases
*.sdf     binary -delta
*.sqlite  binary -delta